{% extends 'base.html' %}
{% block head %}
  <script defer="defer">
    document.googleIds = Array();
    {% for calendar in calendars %}
      document.googleIds.push('{{ calendar.googleId }}');
    {% endfor %}
  </script>
{% endblock %}
{% block body %}
<div class="row">
  {% if posts.0 %}
  <div class="col-md-{% if calendars %}6{% else %}12{% endif%}" onclick="redirect('{% if current_section %}/{% endif %}{{ current_section.url }}/aktuality/{{ posts.0.id }}')">
    <div class="article article-hover main-article shadow to-clamp-big">
      {% include 'sub_article.html' with post=posts.0 current_section=current_section %}
    </div>
  </div>
  {% endif %}
  <div class="{% if calendars %}col-md-6{% else %}none{% endif %}" >
    {% include "calendar.html" %}  
  </div>
</div>
<div class="row">
  {% if posts.1 %}
  <div class="col-md-3" onclick="redirect('{% if current_section %}/{% endif %}{{ current_section.url }}/aktuality/{{ posts.1.id }}')">
    <div class="article article-hover shadow to-clamp">
      {% include 'sub_article.html' with post=posts.1 current_section=current_section html_off=1 %}
    </div>
  </div>
  {% endif %}
  {% if posts.2 %}
  <div class="col-md-3" onclick="redirect('{% if current_section %}/{% endif %}{{ current_section.url }}/aktuality/{{ posts.2.id }}')"> 
    <div class="article article-hover shadow to-clamp">
      {% include 'sub_article.html' with post=posts.2 current_section=current_section html_off=1 %}
    </div>
  </div>
  {% endif %}
  {% if posts.3 %}
  <div class="col-md-3" onclick="redirect('{% if current_section %}/{% endif %}{{ current_section.url }}/aktuality/{{ posts.3.id }}')">
    <div class="article article-hover shadow to-clamp">
      {% include 'sub_article.html' with post=posts.3 current_section=current_section html_off=1 %}
    </div>
  </div>
  {% endif %}
  {% if posts.4 %}
  <div class="col-md-3" onclick="redirect('{% if current_section %}/{% endif %}{{ current_section.url }}/aktuality/{{ posts.4.id }}')">
    <div class="article article-hover shadow to-clamp">
      {% include 'sub_article.html' with post=posts.4 current_section=current_section html_off=1 %}
    </div>
  </div>
  {% endif %}
</div>
{% if posts.5 %}
<div class="row">
  <div class="col-xs-12">
    <div class="all_articles shadow">
      <a href="/{{ current_section }}/aktuality">VŠECHNY ČLÁNKY</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
