{% extends 'base.html' %}
{% block head %}
  <script defer="defer">
    document.googleIds = Array();
    {% for calendar in calendars %}
      document.googleIds.push('{{ calendar.googleId }}');
    {% endfor %}
  </script>
{% endblock %}
{% block body %}
<div class="row">
  {% if posts.0 %}
  <div class="col-md-6">
    <div class="article main-article shadow to-clamp-big">
      {% include 'sub_article.html' with post=posts.0 %}
    </div>
  </div>
  {% endif %}
  <div class="col-md-6">
    <div class="calendar shadow">
      <h4>Kalendář</h4>
    </div>
  </div>
</div>
<div class="row">
  {% if posts.1 %}
  <div class="col-md-3">
    <div class="article shadow to-clamp">
      {% include 'sub_article.html' with post=posts.1 %}
    </div>
  </div>
  {% endif %}
  {% if posts.2 %}
  <div class="col-md-3">
    <div class="article shadow to-clamp">
      {% include 'sub_article.html' with post=posts.2 %}
    </div>
  </div>
  {% endif %}
  {% if posts.3 %}
  <div class="col-md-3">
    <div class="article shadow to-clamp">
      {% include 'sub_article.html' with post=posts.3 %}
    </div>
  </div>
  {% endif %}
  {% if posts.4 %}
  <div class="col-md-3">
    <div class="article shadow to-clamp">
      {% include 'sub_article.html' with post=posts.4 %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
