{% extends 'base.html' %}
{% load staticfiles%}
{% load cropping %}

{% block head %}
<script defer="defer">
document.googleIds = Array();
{% for calendar in calendars %}
document.googleIds.push('{{ calendar.googleId }}');
{% endfor %}
</script>
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-6">
  <div id="myCarousel" class="carousel slide shadow" data-ride="carousel">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators"> -->
    <!--   {% for invitation in invitations %} -->
    <!--     {% if forloop.first %} -->
    <!--       <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" class="active"></li> -->
    <!-- 	{% else %} -->
    <!--     <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" class=""></li> -->
    <!-- 	{% endif %} -->
    <!--   {% endfor %} -->
    <!-- </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for invitation in invitations %}
        {% if forloop.first %}
          <div class="item active">
	{% else %}
	  <div class="item">
        {% endif %}
	{% if invitation.article %}
          <a href="/aktuality/{{ invitation.article.id }}">
	    <img src="{% cropped_thumbnail invitation 'cropping' %}"  class="carousel-img" >
	    <div class="rehor-title carousel-title"><h4>{{ invitation.name|upper }}</h4></div> 
	  </a>
	{% else %}
	  <a href="/#"><img src="{% cropped_thumbnail invitation 'cropping' %}" class="carousel-img" ></a>
	{% endif %}
        </div>
      {% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="col-md-6">
  {% include "calendar.html" %}  
</div>

</div>
<div class="row">

  {% if posts.0 %}
      <div class="col-md-3" onclick="redirect('/aktuality/{{ posts.0.id }}')" >
	<div class="article article-hover to-clamp shadow">
	  {% include "sub_article.html" with post=posts.0 %}
	</div>
     </div>
  {% endif %}
  {% if posts.1 %}
      <div class="col-md-3" onclick="redirect('/aktuality/{{ posts.1.id }}')">
	<div class="article article-hover to-clamp shadow">
	  {% include "sub_article.html" with post=posts.1 %}
	</div>
      </div>
  {% endif %}
  {% if posts.2 %}
    <div class="col-md-3" onclick="redirect('/aktuality/{{ posts.2.id }}')">
      <div class="article article-hover to-clamp shadow">
	{% include "sub_article.html" with post=posts.2 %}
      </div>
  </div>
  {% endif %}
  {% if posts.3 %}
  <div class="col-md-3" onclick="redirect('/aktuality/{{ posts.3.id }}')">
    <div class="article article-hover to-clamp shadow">
      {% include "sub_article.html" with post=posts.3 %}
    </div>
  </div>
  {% endif %}
</div>

{% if posts.4 %}
<div class="row">
  <div class="col-xs-12">
    <div class="all_articles shadow">
      <a href="/aktuality">Všechny články</a>
    </div>
  </div>
</div>
{% endif %}


{% endblock %}
