{% load home_tags %}
<div class="rehor-title {% if post.date %} rehor-title-date {% endif %}{% if clamp %}to-clamp-title{% endif %}">
  <h4><a href="{% if link %} {% if current_section %}/{% endif %}{{ current_section.url }}/aktuality/{{ post.id }} {% endif %}">{{ post.name|upper }}</a></h4>
  {% if post.date %}
    <h6>Přidáno {{ post.date.date.day }}.{{ post.date.date.month }}.{{ post.date.date.year }}</h6>
    {% endif %}
    <!-- <div class="fb-like" data-href="http://stranky-sdhsvinov-0206.rostiapp.cz{% if current_section %}/{% endif %}{{ current_section.url }}/aktuality/{{ post.id }}" -->
    <!--  data-layout="button_count" -->
    <!--  data-action="like" -->
    <!--  data-show-faces="false" -->
    <!--  data-share="true"></div> -->
</div>
<div class="article-text {% if clamp %}to-clamp{% endif %}" >
{% autoescape off %}
  {% if html_off %}
  {{ post.text|filter_html }}
  {% else %}
  {{ post.text }}
  {% endif %}
{% endautoescape %}
</div>
<!--<div class="dimmer"></div>-->
