{% load home_tags %}
<div class="article-header rehor-title {% if post.date %} rehor-title-date {% endif %}">
  <h4 >
    <a href="{% if link %} {% if current_section %}/{% endif %}{{ current_section.url }}/aktuality/{{ post.id }} {% endif %}">
      <div class="{% if clamp or bigClamp %}to-clamp-title{% endif %}">
	{% with title=post.name|upper %}
	  {% if clamp or bigClamp and title|length > 31 %}
            {{ title|truncatechars:31 }}
          {% else %}
	    {{ title }}
	  {% endif %}
	{% endwith %}
      </div>
    </a>
  </h4>
  {% if post.date %}
    <h6>Přidáno {{ post.date.date.day }}.{{ post.date.date.month }}.{{ post.date.date.year }}</h6>
  {% endif %}
    <!-- AddToAny BEGIN -->

</div>
<div class="article-text {% if clamp %}to-clamp{% endif %}{% if bigClamp %}to-clamp-big{% endif %}" >
{% autoescape off %}
  {% if html_off %}
  {{ post.text|filter_html }}
  {% else %}
  {{ post.text }}
  {% endif %}
{% endautoescape %}
{% if clamp != 1 and bigClamp != 1 %}
  <div class="share-buttons">
    <a href="http://twitter.com/share?url=http://stranky-sdhsvinov-0206.rostiapp.cz/{{ current_section.url }}/aktuality/{{ post.id }}"
       target="_blank" class="share-btn twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="http://www.facebook.com/sharer/sharer.php?u=http://stranky-sdhsvinov-0206.rostiapp.cz/{{ current_section.url }}/aktuality/{{ post.id }}"
       target="_blank" class="share-btn facebook">
      <i class="fa fa-facebook"></i>
    </a>
  </div>
{% endif %}
</div>

<!--<div class="dimmer"></div>-->
