body {
    margin: auto;
}

.container {
    width: 900px;
}

.row {
    width: 900px;
}

.m {
    margin: auto;
}

.border {
    display: none;
}

.back {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2E2E2E', endColorstr='#000000');
}