.logo_bar {
    position: relative;
    text-align: center;
}

.logo {
    width: 370px;
    padding-top: 50px;
}

.logo_text {
    display: block;
    left: 0;
    font-size: 13px;
    font-weight: 600;
    color: #eeeeee;
    padding-bottom: 10px;
}
.shcms_logo {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.svinov_logo {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.transparent_logo {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 90px;
}