
/* MENU */
nav {
    height: 100%;

    padding-left: 5px;
    padding-right: 5px;
}

.menu { 
    background: rgb(64, 64, 64);
    height: 100%;
    padding: 0;
    margin-top: 8px;
 }

.menu li {
    position: relative; 
    display: block;
    height: 100%;
    float: left;
 }

li.li-ikona a.homer {
    padding: 5px 10px;
}


.ikona {
    font-size: 1.27em;
}

.menu li {


}

.menu li a {
/*  color: #060606; */
  font-weight: 600;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out 0s;
  text-align: center;
  padding: 5px 5px;
/*  border-top-style: solid;
/*  border-top-color: rgb(255, 232, 0); /*#FFEA03; */
}

.side-border {
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    background: rgb(121, 121, 121);
}

.border {
    left: -1px;
    width: calc(1px + 100%); 
    background: rgb(64, 64 64) !important; /*rgb(184, 170, 56);*/
    position: absolute;
    top: -8px;
    height: 6px;
}

.ikona-border {
    left: 0px;
    width: 100%;
}

.menu li a:hover,
.menu li:hover>a {
  background: rgb(121, 121, 121); /*#FFEA03; */
}

.menu li:hover > .border {
    border-color: rgb(184, 170, 56);
    background: rgb(184, 170, 56);
}

.menu ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    left: 0px;
    z-index: 99;
    transform: translate(0, 20px);
    transition: all 0.2s ease-out;
    width: 100%;
}


.menu ul li a:hover,
.menu ul li:hover>a {
    visibility: visible;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.menu li.li-current {
    float: right;
    margin-right: 10px;
}

.menu ul ul {
    position: absolute;
    left: 100%;
    top: 0px;
    visibility: visible;
    opacity: 0;
    transform: translate(20px, 20px);
    transition: all 0.2s ease-out;
}


.menu li ul li {
    width: 100%;
    background: rgb(121, 121, 121);
    margin-top: 2px;
    padding: 0;
    border-color: rgb(121, 121, 121);
    border-left-width: 2px;
}

.menu li>ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.responsive-menu {
  font-size: 1.35em;
  display: none;
  width: 100%;
  padding: 10px 0px;
  color: black;
  text-align: center;
  background: rgb(255, 232, 0); /*#FFEA03;*/
  text-transform: uppercase;
  font-weight: 600;
}

.responsive-menu ul {

}

.responsive-menu:hover {
    text-decoration: none !important;
    color: black !important;
}

.responsive-menu:visited {
    text-decoration: none !important;
    color: black !important;
}

.responsive-menu:focus {
    text-decoration: none !important;
    color: black !important;
}

a.homer {

}

@media (min-width: 768px) and (max-width: 979px) {

.respo { margin-bottom: 5px; }

.mainWrap { width: 768px; }

.menu ul { top: 37px; }

.menu li a { font-size: 20px; }

a.homer { background: #e6e6e4; }

#menu-right { display: block; }

.li-ikona { display: none !important; }

.li-current { display: none !important; }
}

@media (max-width: 767px) {

.li-ikona { display: none !important; }

.li-current { display: none !important; }

#menu-right { display: block; }

.mainWrap {
  width: auto;
  padding: 50px 20px;
}

.respo { margin-bottom: 5px; }

.menu { display: none; }

.responsive-menu { display: block; }

nav {
  background: none;
}

.menu li a:hover,
.menu li:hover>a {
  background: ##E95546;

}

.menu ul {
    
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transform: initial;
}


.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  position: relative;
  transform: initial;
}

.menu ul ul {
  left: 0;
  transform: initial;
}

.menu li>ul ul:hover { transform: initial; }

}

