/* MENU */
nav {
    height: 100%;
    background: #e6e6e6;
    padding-left: 5px;
    padding-right: 5px;
}

.menu { 
    height: 100%;
    padding: 0;

 }

ul {
}
.menu li {
    display: block;
    height: 100%;
    position: relative;
    z-index: 100;
    float: left;
 }


.li-ikona a.homer{
    color: white;
  /*  width: 5%;*/

}

#menu-right {
    overflow: hidden;
}

.li-current {
    
}

.li-ikona {

}

.li-current a.homer {
    text-shadow: 1px 1px 1px black;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    background: #b8b8b8; 
}

.li-current a.homer:hover {
    color: black;
    background: #b8b8b8; 
    }

.li-ikona a.homer:hover {
    color: black;
    background: #b8b8b8; 
    }

.li-ikona a.homer {
    padding-right: 5px;
    padding-left: 5px;
    background: #b8b8b8; 
}
.ikona {
    text-shadow: 1px 1px 1px black;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}


.menu li a {
  color: #060606;
  font-weight: 600;
  font-size: 1.3em;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out 0s;
  text-align: center;
  border-top-style: solid;
  border-top-color: #FFEA03;
}

.menu li a:hover,
.menu li:hover>a {
  background: #FFEA03; 
}


.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    background: #fff;
    z-index: 99;
    transform: translate(0, 20px);
    transition: all 0.2s ease-out;
    width: 100%;
}

.menu li i {
    font-size: 1.3em;
}
/*n
.menu ul:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}*/

.menu ul li {
    float: none;
    background: none;
    margin: 0;
}

.menu ul li a {
    font-size: 20px;
    font-weight: normal;
    display: block;
    background: #fff;
}

.menu ul li a:hover,
.menu ul li:hover>a {
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.menu ul ul {
    left: 100%;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px, 20px);
    transition: all 0.2s ease-out;
}

.menu li li {
    width: 100%;
}

.menu li>ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.responsive-menu {
  display: none;
  width: 100%;
  padding: 20px 15px;
  background: #E95546;
  text-transform: uppercase;
  font-weight: 600;
}

.responsive-menu:hover {
  text-decoration: none;
}

a.homer {
  background: #e6e6e4;
}

@media (min-width: 768px) and (max-width: 979px) {

.mainWrap { width: 768px; }

.menu ul { top: 37px; }

.menu li a { font-size: 20px; }

a.homer { background: #e6e6e4; }

}

@media (max-width: 767px) {

.mainWrap {
  width: auto;
  padding: 50px 20px;
}

.menu { display: none; }

.responsive-menu { display: block; }

nav {
  margin: 0;
  background: none;
}

.menu li a:hover,
.menu li:hover>a {
  background: #FC6D58;

}

.menu ul {
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transform: initial;
}


.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  position: relative;
  transform: initial;
}

.menu ul ul {
  left: 0;
  transform: initial;
}

.menu li>ul ul:hover { transform: initial; }

}

