/* @font-face { */
/*   font-family: MyriadPro; */
/*   src: url("fonts/MYRIADPRO-REGULAR.OTF") format("opentype"); */
/* } */

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Regular.ttf");
}

.rectangle {
    width: 10px;
    height: 10px;
    background: black;
}

html {overflow-y: scroll;}

body {
    background: black;
    font-family: OpenSans, Arial !important;
/*    background: #2E2E2E none repeat scroll 0% 0%;  */
 /*   background: linear-gradient(to bottom, #222, black); */
}

.back {
    background: linear-gradient(to bottom, rgb(46,46,46), black);
}

.logo_bar {
    position: relative;
    text-align: center;
}

.logo {
    width: 370px;
    padding-top: 50px;
}

.logo_text {
    display: block;
    left: 0;
    font-size: 13px;
    font-weight: 600;
    color: #eeeeee;
    padding-bottom: 10px;
}
.shcms_logo {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.svinov_logo {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.transparent_logo {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 90px;
}

.menu-link {
    text-align: center
}

.menu-link:hover {
    background: #a1897d;
}

.article {
    background: #404040;
    color: white;
    margin-bottom: 10px;
    transition: background 1s;
/*    line-height: 130%; */

    display: block;
}

.carousel-title {
    position: absolute;
    top: 0;
    opacity: 0.9;
}

.carousel-img {
    width: 100%;
}

.carousel-inner {
    height: 268px;
}

.article h6 {
    margin-top: 2px;
    margin-bottom: 5px;
}

.article-hover {
    height: 210px;
    overflow: hidden;
    cursor: pointer;
}

.article-hover:hover {
    background: #555555;
}

.article-hover:hover > .rehor-title {
    background: rgb(61 ,61, 61);
}

.article-hover:hover > .rehor-title h4 a {
    color: rgb(255, 232, 0);
}

.dimmer {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: #404040;
    transition: background 1s;
    opacity: 0.3;
}

.static-footer .container {
    margin-bottom: 40px;
}

.calendar {
    position: relative;
    padding: 0;
    background: #404040;
    height: 268px;
    color: white;
    margin-bottom: 10px;
    overflow: hidden;
}

.calendar ul {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    list-style-type: none;
}

.calendar li {
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-color: rgb(105, 105, 105);
    border-bottom-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition: background 0.5s;
}


.calendar img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 41%;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: rgb(255, 232, 0);
}

a:focus {
    color: rgb(255, 232, 0);
    outline-style: none;
}

.calendar ul {
    margin-bottom: 0px;
}

.to-clamp-title {
    width: 100%;
}


.calendar div.alt-calendar {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #2F2F2F;
}

.alt-calendar-view {
    text-align: center;
}

.calendar li:hover {
    background: rgb(128, 128, 128) !important;
}

.calendar li:nth-child(odd) {
    background: rgb(92, 89, 56);
    
}

.calendar ul li a {
    font-weight: normal;
    float: right;
    padding-right: 10px;
}

.article-header {
    position: relative;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0;
    width: 2em;
    /*box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);*/
    outline: none;
    text-align: center;
    border-radius: 2px;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email       { background: #444444; }

.share-buttons {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.rehor-title  {
    transition: background 1s cubic-bezier(0.9, 0, 0.5, 0.8);
    padding: 20px;
    margin: 0;
    width: 100%;
    background: rgb(47,47,47);
    z-index: 90;
}

.rehor-title-date {
    padding-bottom: 10px;
}

.rehor-title-date h6 {
    font-size: 10px;
}

.rehor-title h6, a {
    font-weight: 600;
    color: #eeeeee;
}

.rehor-title h4, .menu li h4 {
    font-size: 14px;
    font-weight: 600;
    color: #eeeeee;
}

.menu li h4 {
    line-height: inherit;
}

.none {
    display: none;
}

.hiden {
    visibility: hidden;
}

.rehor-header {
}

.rehor-title h6 {
    padding-bottom: 10px;
}

.visible {
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2A2A2A;
  height: 40px;
  opacity: 0.8;
}

.footer-text {
    color: #999;
}    

.contact {
    padding: 10px;
    float: right;
}

.static-footer {
    color: white;
    width: 100%;
    background-color: black;
    height: 80px;
}

.h4, .h5, .h6, h4, h5, h6 { /*bootstrap override */
    margin-top: 0px;
    margin-bottom: 0px;
}



.article-title {
    color: #eeea5f;
}

.all_articles {
    text-align: center;    
    background-color: #000;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(105, 105, 105);
    border-bottom-width: 1px;
}

.article-text {
    position: relative;
    padding: 15px 15px 25px 15px;
}

.article-text, .article h6, .calendar {
    color: #eee;
}

.shadow {
    -webkit-box-shadow: 1px 1px 2px 1px rgb(0, 0, 0);
    -moz-box-shadow: 1px 1px 2px 1px rgb(0, 0, 0);
    box-shadow: 1px 1px 2px 1px rgb(0, 0, 0);
}

#myCarousel {
    margin-bottom: 10px;
}

.main-article {
    height: 268px;
}

.sponsor {
    float: left;
}

.sponsor img {
/*    max-width: 100px;
    max-height: 50px; */
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { 
    padding-left: 5px;
    padding-right: 5px;
}

.alt-calendar h4 {
    font-size: 14px;
    font-weight: 600;
}

@media (min-width: 768px) and (max-width: 979px) {
    
    .calendar {
	height: auto;
    }

    .alt-calendar {
	display: none;
    }

    .calendar ul {
	margin-bottom: 15px;
    }

    .calendar img {
	position: relative;
    }

    .carousel-inner {
	height: 100%;
    }

    .logo {
	width: 100%;
    }

    .shcms_logo {
	display: none;
    }

    .svinov_logo {
	display: none;
    }

    .transparent_logo {
	display: none;
    }

    
}

@media (max-width: 767px) {
    .calendar {
	height: auto;
    }

    .alt-calendar {
	display: none;
    }

    .calendar ul {
	margin-bottom: 15px;
    }

    .calendar img {
	position: relative;
    }

    .carousel-inner {
	height: 100%;
    }

    .logo {
	width: 100%;
    }

    .shcms_logo {
	display: none;
    }

    .svinov_logo {
	display: none;
    }

    .transparent_logo {
	display: none;
    }
}