<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="row">
      <h2>Daňový doklad</h2>
      <h2>BE17001</h2>
    </div>
    <div class="row">
      SH ČMS - Sbor dobrovolných hasičů Svinov IČ: 64989976
    </div>
    <div class="row">
      line
    </div>
    <div class="row">
      Registrace L 32035 vedená u Městského soudu v Praze
    </div>
    <div class="row">
      <div class="rectangle">
	<div>Organizace:</div>
	<ul> 
	  <li> SH ČMS - Sbor dobrovolných hasičů Svinov </li>
	  <li> </li>
	  <li> </li>
	</ul>
	<div>IČ: 64989976</div>
	<div>DIČ: Nejsme plátci DPH</div>
      </div>
      <div class="rectangle">
	<div>Přijato (od):</div>
	<div>Jméno příjmení</div>
	<div>IČ:</div>
	<div>DIČ:</div>
      </div>
    </div>
    <div class="row">
      <div class="rectangle">
	<div>Účel platby: Vstupné - maškarák 2017</div>
	<div>Poznámka: Vstupné - maškarák 2017</div>
      </div>
    </div>
    <div class="row">
      <div class="rectangle">
	<div>Datum vystavení: { datum_vystaveni }</div>
	<div>Datum platby: { datum_platby }</div>
      </div>
      <div class="rectangle">
	<div>Vystavil: eVstupenka</div>
	<div>Dne: 31.12.2016</div>
      </div>
      <div class="rectangle">
	<div>Schválil</div>
      </div>
      <div class="rectangle">
	<div>Zaúčtoval</div>
	<div>Dne</div>
      </div>
    </div>
    <div class="row">
      Položky
    </div>
    <div class="row">
      <span>Popis</span><span>Počet M.J.</span><span>M.J.</span><span>Cena za M.J.</span>
      <span>Cena celkem</span>
    </div>
    <div class="row">
      <span>Vstupné maškarní ples</span><span>ž</span><span>ks</span><span>280</span>
      <span>1680</span>
    </div>
    <div class="row">
    </div>
  </body>
</html>
