
body {
    background: #2e2e2e;
}

.article {
    color: #E0E0E0;
    padding: 10px 3px 3px 10px;
    background: #404040;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #2A2A2A;
}


.logo_bar {
    background-color: #222222;
    text-align: center;
}
